################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AlhpaInkEscape/.vs/AlhpaInkEscape/v16/ipch/AutoPCH
